USE [master]
GO


/****** Object:  Database [Projeto]    Script Date: 27/09/2018 11:13:08 ******/
CREATE DATABASE [Projeto]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Projeto', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Projeto.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Projeto_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Projeto_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Projeto].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Projeto]
GO
/****** Object:  Table [dbo].[Funcionario]    Script Date: 27/09/2018 11:13:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Funcionario](
	[Nome] [varchar](50) NULL,
	[Telefone] [varchar](50) NOT NULL,
	[Celular] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Endereco] [varchar](50) NOT NULL,
	[UF] [varchar](50) NOT NULL,
	[Numero] [varchar](50) NOT NULL,
	[Bairro] [varchar](50) NOT NULL,
	[RG] [varchar](50) NOT NULL,
	[CPF] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[logins]    Script Date: 27/09/2018 11:13:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[logins](
	[usuario] [varchar](50) NOT NULL UNIQUE,
	[senha] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
